body{

font-family:Arial;
background:#f4f7fb;
padding:30px;

}



.container{

max-width:850px;
margin:auto;
background:white;
padding:30px;
border-radius:15px;
box-shadow:0 5px 20px #ccc;

}



h1{

color:#1f4e79;

}



label{

display:block;
margin-top:12px;

}



input{

width:95%;
padding:10px;
border-radius:8px;
border:1px solid #ccc;

}



button{

margin-top:15px;
padding:12px 20px;
border:none;
border-radius:8px;
background:#1f4e79;
color:white;
cursor:pointer;

}



button:hover{

background:#163a5c;

}




.dashboard{

display:flex;
gap:10px;
margin-top:20px;

}




.box{

flex:1;
background:#eef5ff;
padding:15px;
border-radius:10px;
text-align:center;

}



#hasil{

color:green;

}



#peringatan{

margin-top:15px;
font-weight:bold;

}




table{

width:100%;
margin-top:20px;
border-collapse:collapse;

}



th,td{

border:1px solid #ddd;
padding:8px;
text-align:center;

}



canvas{

margin-top:20px;

}